@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6em;
  font-family: 'Montserrat';
}

a {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: auto;
}

/* .flex-container{
  display: flex;
  flex-direction: row;
} */
.flex-left-container {
  height: 100%;
  /* width: 25%; */
  width: 320px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #222233;
  position: fixed;
  top: 0;
  z-index: 10;
  overflow-x: hidden;
  margin-left: 70px;
}

.flex-left-container img {
  height: 150px;
  width: 150px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.flex-left-container h1 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 28px;
}

.flex-left-container h2 {
  margin-bottom: 20px;
  font-size: 15px;
  color: #FFF5AB;
}

.flex-left-container ul {
  list-style: none;
}

.flex-left-container li {
  padding: 5px;
}

.flex-left-container li a {
  color: #AACCFF;
  padding: 8px;
}

.flex-left-container li a:hover {
  font-size: 20px;
  color: #FFF5AB;
  /* border-bottom:1px solid #FFF5AB; */
}

.container1 {
  width: 70%;
  float: right;
}

.flex-right-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.flex-right-container .jy-img {
  /* background-image: url("./raja1.jpg"); */
  background-image: url("./coding.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  /* margin-right: 400px */
}

.container-text {
  position: absolute;
  flex-direction: column;
  top: 0;
  right: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.container-text p {
  color: #FFF5AB;
  font-size: 50px;
  font-weight: bold;
}

i {
  margin-top: 30px;
  padding: 5px;
  font-size: 25px;
  color: #fff;
}

i:hover {
  font-size: 30px;
}

.next-section h2 {
  color: #000033;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 8px;
  margin-top: 250px;
  margin-left: 30px;
}

.next-section p {
  color: black;
  letter-spacing: 8px;
  margin-left: 30px;
  font-size: 25px;
  font-weight: bold;
}

.next-section h4 {
  color: #3A3845;
  margin-left: 30px;
  letter-spacing: 3px;
}

.next-section span {
  color: black;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-bottom-container {
  width: 200px;
  height: 200px;
  /* border-width: 2px */
  border-bottom-color: #42C2FF;
  border-left-color: #f1ECE6;
  border-top-color: #f1ECE6;
  border-right-color: #f1ECE6;
  border-style: solid;
  margin-left: 30px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.flex-bottom-container1 {
  width: 200px;
  height: 200px;
  /* border-width: 2px */
  border-bottom-color: #FD5D5D;
  border-left-color: #f1ECE6;
  border-top-color: #f1ECE6;
  border-right-color: #f1ECE6;
  border-style: solid;
  margin-left: 30px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.flex-bottom-container2 {
  width: 200px;
  height: 200px;
  /* border-width: 2px */
  border-bottom-color: #FFE61B;
  border-left-color: #f1ECE6;
  border-top-color: #f1ECE6;
  border-right-color: #f1ECE6;
  border-style: solid;
  margin-left: 30px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.flex-bottom-container2 .fa-solid {
  color: #FFE61B;
  font-size: 35px;
  margin-left: 20px;
}

.flex-bottom-container2 p {
  color: #3A3845;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
  line-height: 5px;
}

.flex-bottom-container1 .fa-solid {
  color: #FD5D5D;
  font-size: 35px;
  margin-left: 20px;
}

.flex-bottom-container1 p {
  color: #3A3845;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
  line-height: 5px;
}

.flex-bottom-container .fa-solid {
  font-size: 25px;
  color: #42C2FF;
  margin-left: 20px;
}

.flex-bottom-container p {
  font-size: 20px;
  color: #3A3845;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 25px;
  line-height: 5px;
}

.flex-bottom-container i:hover {
  color: black;
  font-size: 30px;
}

.flex-bottom-container1 i:hover {
  color: #D18CE0;
  font-size: 40px;
}

.flex-bottom-container2 i:hover {
  color: #1C6DD0;
  font-size: 40px;
}

.flex-bottom-container3 {
  width: 100%;
  height: 150px;
  /* border-bottom-color: #FFE61B;
  border-left-color: #f1ECE6;
  border-top-color: #f1ECE6;
  border-right-color: #f1ECE6; */
  /* border-style: solid */
  margin-top: 100px;
  margin-left: 28px;
  background-color: #ECB365;
  text-align: center;
  padding: 5px;
  letter-spacing: 2px;

}
.flex-bottom-container3 h1{
  color: #222233;



}
.flex-bottom-container3 .fa-solid {
  color: #222233;
  padding: 5px;
  letter-spacing: 25px;
}
.skills p{
   margin-left: 25px;
   margin-top: 100px;
   letter-spacing: 5px;
   font-weight: bold;
}
.skills h1{
  margin-left: 20px;
  margin-top: 50px;
  letter-spacing: 5px;
}
.skills h2{
    margin-left: 20px;
}



::selection{
  color: #fff;
/*   color:#222233; */
  background: #6665ee;
/*   background :#FFEEEE; */
}
.skill-bars{
  padding: 25px 30px;
  width: 500px;
  background: #FFF;
  /* box-shadow: 5px 5px 20px rgba(0,0,5,5); */
  /* border-radius: 15px; */
  margin-left: 18px;
  margin-top: 25px;
}
.skill-bars .bar{
  margin: 25px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 800;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
/*   background: #f0f0f0; */
  background:#ddd;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
/*   background: #6665ee; */
     background: #FFDCAE;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 95%;
}
.bar .progress-line.css span{
  width: 90%;
}
.bar .progress-line.jquery span{
  width: 85%;
}
.bar .progress-line.python span{
  width: 80%;
}
.bar .progress-line.mysql span{
  width: 75%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 2px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "95%";
}
.progress-line.css span::after{
  content: "90%";
}
.progress-line.jquery span::after{
  content: "85%";
}
.progress-line.python span::after{
  content: "80%";
}
.progress-line.mysql span::after{
  content: "75%";
}
.skill-education p{
  margin-top: 250px;
  font-size: 20px;
  letter-spacing: 5px;
}
.skill-education h2{
  margin-top: 25px;
  letter-spacing: 8px;
}
.accordion{
  width: 850px;

}
.accordion .content-Box{
  margin-top: 30px;
}
.accordion .content-Box .label{
  position: relative;
  padding: 10px;
  /* background: #AACCFF; */
  background: #FFDCAE;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;

}
.accordion .content-Box .content p{
  font-size: 15px;
  letter-spacing: 1.7;
  /* line-height: 25px; */
  /* font-weight: bold; */
  font-family: poppins;
}
.accordion .content-Box .content li{
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}
.accordion .content-Box .label::before{
  content: '+';
  position: absolute;
  top:50%;
  right : 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}
.accordion .content-Box.active .label::before{
  content: '-';
}
.accordion .content-Box .content{
  position: relative;
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}
.accordion .content-Box.active .content{
 height: 150px;
 padding: 10px;
}
.Project p{
  letter-spacing: 5px;
  margin-top: 250px;

}
.Project h1{
  margin-top: 20px;
}
.timeline{
  margin: 90px auto;
  width:800px;
  border-left: 2px solid #ccc;
  padding: 0 20px 0 30px;

}
.content1{
  /* background-color: #fff; */
  padding: 10px 25px;
  font-size: 16px;
  border: 1px solid #ccc;
  line-height: 1.7;
  position: relative;
  height: 200px;
  margin-bottom: 20px;

}
.content2{
  padding: 10px 25px;
  font-size: 16px;
  border: 1px solid #ccc;
  line-height: 1.7;
  position: relative;
  height: 120px;
  margin-bottom: 20px;
}
.content1:before{
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:   #000;
  border: 3px solid #ddd;
  position: absolute;
  top: 10px;
  left: -40px;


}
.content1:after{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #ddd transparent transparent;
  border-width: 8px;
  position: absolute;
  left:-17px;
  top:10px;

}
.content2:before{
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:   #000;
  border: 3px solid #ddd;
  position: absolute;
  top: 10px;
  left: -40px;


}
.content2:after{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #ddd transparent transparent;
  border-width: 8px;
  position: absolute;
  left:-17px;
  top:10px;

}
.content1 h2{
  margin: 0;
  text-transform: uppercase;
  font-family: merienda;
  font-size: 20px;


}
.content2 h2{
  margin: 0;
  text-transform: uppercase;
  font-family: merienda;
  font-size: 20px;


}
.content1 p{
  margin: 0;
  font-family: poppins;

}
.content2 p{
  margin: 0;
  font-family: poppins;

}
.contact-details p{
  letter-spacing: 5px;
}
.contact-details h2{
  margin-top: 50px;
  letter-spacing: 5px;


}
.contact-info{
  width: 120px;
  height: 120px;
  background-color: #ddd;
  margin-top: 70px;
  /* position: absolute; */
margin-bottom: 100px;



}
.contact-info .fa-solid{
  color:#222233;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  /* margin-bottom:  110px; */


}
.contact-info p{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 200px;
  margin-top:  50px;
  position: absolute;
  /* text-align: center; */

}
.contact-info p{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 200px;
  margin-top:  50px;
  position: absolute;
  /* text-align: center; */

}
.contact-info p{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 200px;
  margin-top:  50px;
  position: absolute;
  /* text-align: center; */
  font-size: 20px;
  font-weight: bold;

}
 .fa-solid:hover{
  font-size: 30px;
  cursor: pointer;
  color: #AACCFF;

}
.contact-info p:hover{
  color: #AACCFF;
}
.contact-info a{
  color:#222233;
}
